*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #E1E1E1;
  --background-secondary: #FAFAFF;
  --color-primary: #222222;
  --color-secondary: #ffffff;
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Ubuntu', sans-serif;
  --btn-gradient: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
}

html {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);  
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

button {
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* Header */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
} 

.nav-icon {
  font-size: 2.4rem;
  font-weight: 700;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.nav-item {
  margin: 0 2.4rem;
  font-size: 1.8rem;
}

.nav-item:hover {
  color: #FFC53D;
  transition: all .2s;
}

/* Hero */

.hero {
  width: 100%;
  height: 40vh;
  background: url(./images/cover-photo.png) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

h2.welcome {
  font-size: 7rem;
  color: #FFC53D;
  line-height: .4;
}

p.name {
  color: var(--color-secondary);
  font-size: 2.5rem;
  padding-top: 2rem;
}

.social-icons {
  letter-spacing: 1.5rem;
  font-size: 2.4rem;
  padding-top: 2rem;
}

.social-icons .fab {
  color: var(--color-secondary)
}

.social-icons .fab:hover {
  color: #FF9A3D;
  transition: all .2;
}

/* Contact */

.contact {
  display: flex;
  align-items: center;
  height: 15rem;
  text-align: center;
}

h2.help {
  font-size: 2rem;
  font-weight: 400;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.btn {
  width: 20rem;
  height: 5rem;
  border: 1px solid #ffc53d;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffc53d;
  background-color: white;
  cursor: pointer;
}

button.btn:hover {
  background: var(--btn-gradient);
  color: white;
  transition: all .2s;
}

.btn-right {
  margin-left: 3.5rem;
}

/* About me */

.about-me {
  position: relative;
  background: linear-gradient(to right, #FAFAFF 70%, #fff 40%);
  padding: 3rem 5%;
  overflow: hidden;
}

.about-heading {
  position: relative;
  top: 0;
  left: 3%;
  font: var(--font-secondary);
  font-weight: 700;
  font-size: 3.2rem;
}

.about-me-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #fff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
}

.about-me-grid-item {
  height: 25vh;
  margin: 2rem 0;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 2px dotted #FFC53D;
}

.image {
  width: 10rem;
}

.image img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%
}

.contact-information {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

h2.contact-info {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.contact-information span {
  color: #FF9A3D;
  margin-left: 1rem;
}

.about-paragraph {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.about-paragraph p {
  font: var(--font-primary);
  line-height: 1.8;
  font-size: 1.4rem;
}

/* Skills */

.skills {
  position: relative;
  background: linear-gradient(to left, #FAFAFF 70%, #fff 40%);
  padding: 3rem 5%;
  overflow: hidden;
  margin-top: 4rem;
}

.skills-heading {
  position: relative;
  top: 0;
  left: 30%;
  font: var(--font-secondary);
  font-weight: 700;
  font-size: 3.2rem;
}

.skills-container {
  display: flex;
  width: 100%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
}

.skills-item {
  width: calc(100% / 3);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 0;
  background-color: #fff;
}

.skills-item-border {
  margin: 1rem 0;
  border-right: 2px dotted #FFC53D;
}

.skills-item i {
  font-size: 7rem;
  color: #515151;
}

.skills-item h2 {
  margin-top: 2rem;
  color: #ffc53d;
  font-size: 2.4rem;
}

.skills-item p {
  margin-top: 1rem;
  font: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 400;
}

.skills-no-border {
  border: none;
}

/* Gallery */

.gallery-heading {
  font-size: 3.2rem;
  text-align: center;
}

.gallery-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 30vh;
  margin-bottom: 0;
}

.gallery-item {
  height: 100%;
}

.gallery-1 {
  position: relative;
  width: 40%;
  background: url(./images/gallery-1.png) center no-repeat;
  background-size: cover;
}

.gallery-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
  opacity: 0.9999;
}

.gallery-description {
  margin: 5% 5%;
}

.gallery-description h2 {
  position: relative;
  color: white;
  font-size: 4rem;
}

.gallery-description p {
  position: relative;
  font: var(--font-primary);
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

.gallery-description button {
  position: relative;
  width: 7rem;
  height: 4rem;
  font-size: 1.6rem;
  margin-top: 3rem;
  border-radius: 15px;
  border: 1px solid #FFC53D;
  color: var(--color-primary);
}

.gallery-description button:hover {
  color: var(--color-secondary);
  background: var(--btn-gradient);
  transition: all .2s;
}

.gallery-2 {
  width: 25%;
  background: url(./images/gallery-2.png) center no-repeat;
  background-size: cover;
}

.gallery-3 {
  width: 35%;
  background: url(./images/gallery-3.png) center no-repeat;
  background-size: cover;
}

.gallery-4 {
  width: 30%;
  background: url(./images/gallery-4.png) center no-repeat;
  background-size: cover;
}

.gallery-5 {
  position: relative;
  width: 70%;
  background: url(./images/gallery-5.png) center no-repeat;
  background-size: cover;
}

.gallery-5::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
  opacity: 0.9;
}

/* Contact Form */

.contact-form {
  padding: 3rem 5%;
  overflow: hidden;
  margin-top: 4rem;
  background-color: #FAFAFF;
}

.form-container {
  display: flex;
  height: 60vh;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.form-left {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: #FF9A3D;
}

.triangle {
  position: absolute;
  top: 2.4rem;
  right: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #FF9A3D;
}

.form-left-container {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2.4rem;
  color: #fff;
}

.form-left-container .fa-envelope {
  font-size: 4rem;
  transform: rotate(-20deg);
}

.form-left-container p {
  font-size: 1.7rem;
  margin-top: 2rem;
}

.form-left-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2.4rem;
}

.social-icons-form .fab:hover {
  color: #000;
}

.form-left-bottom h3 {
  margin-top: 1rem;
  font: var(--font-secondary);
  font-weight: 700;
  font-size: 2.4rem;
}

.form-left-bottom h4 {
  margin-top: .5rem;
  font: var(--font-secondary);
  font-weight: 400;
  font-size: 1.7rem;
}

.form-left-bottom .email {
  text-decoration: underline;
}

.form-right {
  width: 70%;
  height: 100%;
  padding: 2.4rem;
  background-color: #fff;
}

.form-right h2 {
  font-size: 3.6rem;
}

form.form {
  display: flex;
  flex-direction: column;
}

.input {
  font: var(--font-secondary);
  font-weight: 400;
  font-size: 1.6rem;
  color: #A0A0A0;
  height: 4rem;
  margin-top: 2rem;
  padding: 2rem 4rem;
  border-radius: 15px;
  border: 1px solid #f0f0ff;
  background-color: #fafaff;
}

.text-area{
  height: 20rem;
}

input.submit {
  font: var(--font-primary);
  font-weight: 700;
  font-size: 1.7rem;
  color: #FFC53D;
  margin-left: auto;
  margin-top: 2rem;
  width: 10rem;
  height: 5rem;
  border-radius: 15px;
  outline: none;
  border: 1px solid #FFC53D;
  background-color: #fff;
}

input.submit:hover {
  background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
  color: #fff;
  transition: all .2s;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5vh;
}

.footer h4 {
  font: var(--font-secondary);
  font-weight: 400;
  font-size: 1.4rem;
  color: #A0A0A0;
}

/* Media queries */
@media screen and (min-width: 900px) {
  .hero {
    height: 60vh;
  }
  h2.welcome {
    font-size: 8rem;
  }
  p.name {
    font-size: 3rem;
  }
  .social-icons {
    letter-spacing: 1.6rem;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  h2.contact-info {
    font-size: 1.2rem;
  }
  .form-left {
    width: 40%;
  }
  .form-right {
    width: 60%;
  }
}

@media screen and (max-width: 899px) {
  .about-me {
    background: #FAFAFF;
  }
  .about-me-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about-me-grid-item {
    height: auto;
  }
  .contact-details {
    padding-bottom: 3rem;
    border-right: none;
    border-bottom: 2px dotted #FFC53D;
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  .skills-item {
    width: 100%;
    border-right: none;
    border-bottom: 2px dotted #FFC53D;
  }
  .skills-item-border {
    border: none;
  }
  .skills-no-border {
    border: none;
  }
  .gallery-4 {
    width: 35%;
  }
  .gallery-5 {
    width: 65%;
  }
  .form-left-container p {
    font-size: 1.5rem;
  }
  .form-left-bottom h3 {
    font-size: 1.8rem;
  }
  .form-left-bottom h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  h2.mobile-heading {
    text-align: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    height: 120vh;
  }
  .form-left {
    position: relative;
    width: 100%;
    height: 55vh;
  }
  .triangle {
    display: none;
  }
  .triangle-2 {
    display: block;
    position: absolute;
    top: calc(55vh - 10px);
    left: 2.4rem;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: #FF9A3D;
  }
  .form-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-right {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 640px) {
  .container {
    padding: 0 1.4rem;
  }
  .nav {
    height: 15%;
    padding: 1rem 0;
  }
  .nav-icon {
    font-size: 2rem;
  }
  .nav-item {
    font-size: 1.7rem;
    margin: 1rem;
  }
  .gallery-description h2 {
    font-size: 2.5rem;
  }
  .gallery-description p {
    font-size: 1.2rem;
  }
  .gallery-description button {
    font-size: 1.3rem;
    width: 5rem;
    height: 2.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .container {
    padding: 0 1.4rem;
  }
  .nav {
    height: 15%;
    padding: 1rem 0;
  }
  .nav-icon {
    font-size: 1.3rem;
  }
  .nav-item {
    font-size: 1.2rem;
    margin: 1rem;
  }
  .gallery-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .gallery-item {
    width: 100%;
    height: 25vh;
  }

  .gallery-2 {
    display: none;
  }

  .gallery-4 {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .contact-information {
    margin-left: 1rem;
  }
  h2.contact-info {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .contact-information span {
    margin-left: .5rem;
  }
  .about-paragraph p {
    font-size: 1.2rem;
    line-height: normal;
    padding-bottom: 1rem;
  }
}